@model List<lab11_mvc_and_core.Models.TimePerson>


<head>
    <meta name="viewport" content="width=device-width" />
    <title>Results</title>
    <link rel="stylesheet" href="~/style.css" />
</head>

<body>
    <h1>Person of The Year</h1>

    <table>
        <tr>
            <td>Year</td>
            <td>Honor</td>
            <td>Name</td>
            <td>Country</td>
            <td>Birth Year</td>
            <td>Death Year</td>
            <td>Title</td>
            <td>Category</td>
            <td>Context</td>
        <tr>
        @foreach (var person in Model)
        {
        <tr>
            <td>@person.Year</td>
            <td>@person.Honor</td>
            <td>@person.Name</td>
            <td>@person.Country</td>
            <td>@person.BirthYear</td>
            <td>@person.DeathYear</td>
            <td>@person.Title</td>
            <td>@person.Category</td>
            <td>@person.Context</td>
        </tr>
        }
    </table>
</body>

